<?xml version="1.0"?>
<model>
  <name>gripper_depth_camera</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>RobotikProject</name>
    <email>none@example.com</email>
  </author>

  <description>
    Fixed overhead camera for object detection.
  </description>
</model>
